@import "testimonial/main";
@import "image/main";
@import "name/main";
@import "info/main";
@import "socials/main";
@import "social/main";
@import "link/main";

.testimonials {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.testimonial {
	@include testimonial;

	&-image {
		@include testimonials-image;
	}

	&-name {
		@include testimonials-name;
	}

	&-info {
		@include testimonials-info;
	}

	&-socials {
		@include testimonials-socials;
	}

	&-social {
		@include testimonials-social;
	}

	&-link {
		@include testimonials-link;
	}
}
