@charset "UTF-8";
/* Globals */
/* Colors */
/* Media */
/* Vertically oriented phone */
/* Horizontally oriented phone */
/* Vertically oritented tablet */
/* Mixin library for general purposes */
/* Components */
.nav {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    margin-top: 20px;
  }
}
.nav-list {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .nav-list {
    font-size: 2.5vw;
  }
}

.header-inner {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header-inner {
    flex-direction: column;
  }
}

.service {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .service {
    text-align: center;
  }
}
.service-title {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .service-title {
    font-size: 3.2rem;
  }
}
.service-description {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .service-description {
    font-size: 2rem;
  }
}

.services-item {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .services-item {
    width: calc(50% - 20px);
    /* TODO: reimplement */
  }
  .services-item:nth-child(3n-2) {
    margin-left: 10px;
  }
  .services-item:nth-child(2n-1) {
    margin-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .services-item {
    width: 100%;
    padding-top: 100px;
    padding-left: 0;
  }
  .services-item:nth-child(3n-2) {
    margin-left: 0;
  }
  .services-item:nth-child(2n-1) {
    margin-left: 0;
  }
  .services-item::before {
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .services-item-bubble::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-bulb::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-heart::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-pen::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-phone::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-star::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.services-item-title {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
.services-item-description {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .services-item-description {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.portfolio {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .portfolio {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.portfolio-inner {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-inner {
    text-align: center;
  }
}
.portfolio-description {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-description {
    margin: 24px 0;
  }
}
.portfolio-item {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  .portfolio-item {
    width: calc(100% / 2 - 20px);
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-item {
    width: 100%;
  }
}
.portfolio-control {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-control {
    font-size: 3vw;
  }
  .portfolio-control.all {
    left: 8.73%;
  }
  .portfolio-control.web-design {
    left: 21.97%;
  }
  .portfolio-control.graphic-design {
    left: 49%;
  }
  .portfolio-control.artwork {
    left: 80.28%;
  }
}

.testimonials {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonials {
    flex-direction: column;
    padding-top: 40px;
  }
}

.testimonial {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial {
    width: 100%;
    align-items: center;
  }
  .testimonial + .testimonial {
    margin-top: 20px;
  }
}
.testimonial-name {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial-name {
    font-size: 2.5rem;
  }
}
.testimonial-info {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial-info {
    font-size: 1.5rem;
    text-align: center;
  }
}
.testimonial-socials {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial-socials {
    margin-top: 20px;
  }
}

.about-inner {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .about-inner {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
}

.contacts {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .contacts {
    margin: 40px 0 0;
  }
}
.contacts-item {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .contacts-item {
    font-size: 1.2rem;
  }
}
.contacts-title {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .contacts-title {
    font-size: 2.5rem;
  }
}
.contacts-description {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .contacts-description {
    font-size: 1.5rem;
  }
}

.feedback {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .feedback {
    text-align: center;
  }
}
.feedback-content {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .feedback-content {
    flex-direction: column;
  }
}
.feedback-input {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .feedback-input {
    width: 100%;
  }
}

.footer-inner {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer-inner {
    flex-direction: column-reverse;
  }
}
.footer-copyright {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer-copyright {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=responsive.css.map */
