/* Globals */
/* Colors */
/* Media */
/* Vertically oriented phone */
/* Horizontally oriented phone */
/* Vertically oritented tablet */
/* Mixin library for general purposes */
/* Components */
.nav {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    margin-top: 20px;
  }
}

.nav-list {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .nav-list {
    font-size: 2.5vw;
  }
}

.header-inner {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header-inner {
    flex-direction: column;
  }
}

.testimonials {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonials {
    flex-direction: column;
    padding-top: 40px;
  }
}

.testimonial {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial {
    width: 100%;
    align-items: center;
  }
  .testimonial + .testimonial {
    margin-top: 20px;
  }
}

.testimonial-name {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial-name {
    font-size: 2.5rem;
  }
}

.testimonial-info {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial-info {
    font-size: 1.5rem;
    text-align: center;
  }
}

.testimonial-socials {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .testimonial-socials {
    margin-top: 20px;
  }
}

.about-inner {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .about-inner {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
}

.contacts {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .contacts {
    margin: 40px 0 0;
  }
}

.contacts-item {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .contacts-item {
    font-size: 1.2rem;
  }
}

.contacts-title {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .contacts-title {
    font-size: 2.5rem;
  }
}

.contacts-description {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .contacts-description {
    font-size: 1.5rem;
  }
}

.feedback {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .feedback {
    text-align: center;
  }
}

.feedback-content {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .feedback-content {
    flex-direction: column;
  }
}

.feedback-input {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .feedback-input {
    width: 100%;
  }
}

.footer-inner {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer-inner {
    flex-direction: column-reverse;
  }
}

.footer-copyright {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer-copyright {
    margin-top: 20px;
  }
}
