@charset "UTF-8";
/* Globals */
/* Colors */
/* Media */
/* Vertically oriented phone */
/* Horizontally oriented phone */
/* Vertically oritented tablet */
/* Mixin library for general purposes */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.svg#Lato-Black") format("svg"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.woff") format("woff"), url("../fsfdasdfonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.svg#Lato-Light") format("svg"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tmvnr9");
  src: url("../fonts/icomoon.eot?tmvnr9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tmvnr9") format("truetype"), url("../fonts/icomoon.woff?tmvnr9") format("woff"), url("../fonts/icomoon.svg?tmvnr9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

*, *::after, *::before {
  box-sizing: border-box;
  /* TODO: implement with prefixes */
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
}

ul {
  list-style: none;
}

ul, li {
  /* li - IE compatibility */
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
}

input {
  min-width: 300px;
  font-size: 1.2rem;
}

textarea {
  height: 202px;
}

input,
textarea {
  font-family: inherit;
  padding: 15px;
  color: #f48c8f;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
}

input,
input::placeholder,
textarea,
textarea::placeholder {
  font-size: 1.2rem;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: #f0d8d9;
}

input:focus,
textarea:focus {
  border-color: #f0d8d9;
}

/* General components */
.testimonial-link-facebook, .testimonial-link-twitter, .testimonial-link-google, .testimonial-link-linkedin, .footer-link-facebook, .footer-link-twitter, .footer-link-google, .footer-link-linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Layout components */
.header {
  background: #303441;
  color: #ffffff;
  border-bottom: 6px solid #373b4a;
}

.header-inner {
  max-width: 940px;
  margin: 0 auto;
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .header-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header-logo {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: normal;
}

.header-logo::after {
  content: "*";
  color: #ee5052;
}

.nav-list {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  display: flex;
}

.nav-item {
  display: inline-flex;
}

.nav-item + .nav-item::before {
  content: "\00B7";
  /* &middot; = · */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  font-size: 1em;
  color: #ffffff;
  opacity: 0.2;
}

.nav-link {
  text-transform: uppercase;
}

.nav-link:hover, .nav-link.active {
  color: #ee5052;
}

.portfolio {
  background-color: #303441;
  border-bottom: 6px solid #373b4a;
}

.portfolio-inner {
  max-width: 940px;
  margin: 0 auto;
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  padding: 60px 0 53px;
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .portfolio-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.portfolio-title {
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
  color: #666d89;
}

.portfolio-description {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: normal;
  color: #767e9e;
  letter-spacing: -0.02rem;
  line-height: 1.875rem;
  margin-top: 24px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-description {
    line-height: 2.2rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio-description {
    line-height: 2.2rem;
  }
}

.portfolio-input {
  display: none;
}

.portfolio-input#all:checked ~ .portfolio-item {
  display: block;
}

.portfolio-input#all:checked ~ .all {
  color: #ffffff;
  border: 0.063rem solid #ffffff;
}

.portfolio-input#web-design:checked ~ .portfolio-item.web-design {
  display: block;
}

.portfolio-input#web-design:checked ~ .portfolio-item.graphic-design,
.portfolio-input#web-design:checked ~ .portfolio-item.artwork {
  display: none;
}

.portfolio-input#graphic-design:checked ~ .portfolio-item.graphic-design {
  display: block;
}

.portfolio-input#graphic-design:checked ~ .portfolio-item.web-design,
.portfolio-input#graphic-design:checked ~ .portfolio-item.artwork {
  display: none;
}

.portfolio-input#artwork:checked ~ .portfolio-item.artwork {
  display: block;
}

.portfolio-input#artwork:checked ~ .portfolio-item.web-design,
.portfolio-input#artwork:checked ~ .portfolio-item.graphic-design {
  display: none;
}

.portfolio-control {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4rem;
  margin-right: 10px;
  color: #666d89;
  letter-spacing: -0.001rem;
  padding: 3px 6px;
  border: 0.063rem solid #767e9e;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.portfolio-control:hover {
  cursor: pointer;
  color: #ffffff;
  border: 0.063rem solid #ffffff;
}

.portfolio-control.all {
  position: absolute;
  top: 0;
  left: 20px;
}

.portfolio-control.web-design {
  position: absolute;
  top: 0;
  left: 60px;
}

.portfolio-control.graphic-design {
  position: absolute;
  top: 0;
  left: 147px;
}

.portfolio-control.artwork {
  position: absolute;
  top: 0;
  left: 250px;
}

.portfolio-list {
  margin-top: 18px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -20px;
  align-items: flex-start;
  padding-top: 40px;
}

.portfolio-item {
  width: calc(100% / 4 - 20px);
  margin: 0 0 20px 20px;
  overflow: hidden;
}

.portfolio-image {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  width: 100%;
  height: 100%;
}

.portfolio-image:hover {
  transform: scale(1.3);
  transform-origin: center;
}

.about {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-inner {
  max-width: 940px;
  margin: 0 auto;
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  padding-top: 64px;
  padding-bottom: 64px;
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .about-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about-title {
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
  color: #666d89;
}

.about-description {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: normal;
  color: #373b4a;
  margin-top: 25px;
  line-height: 3rem;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.testimonial {
  display: flex;
  width: calc((100% - 40px) / 3);
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-image {
  width: 100%;
}

.testimonial-image:hover {
  -webkit-box-shadow: 0px 0px 8px 8px #c5c5c5;
  -moz-box-shadow: 0px 0px 8px 8px #c5c5c5;
  -ms-box-shadow: 0px 0px 8px 8px #c5c5c5;
  -o-box-shadow: 0px 0px 8px 8px #c5c5c5;
  box-shadow: 0px 0px 8px 8px #c5c5c5;
  -webkit-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
  -ms-transition: box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
}

.testimonial-name {
  font-size: 1.8rem;
  font-weight: 900;
  font-style: normal;
  color: #666d89;
  padding: 20px 0;
}

.testimonial-info {
  flex-grow: 1;
  font-size: 1.2rem;
  color: #767e9e;
}

.testimonial-socials {
  display: flex;
  align-items: center;
  font-size: 0;
  margin-top: 30px;
}

.testimonial-social {
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-social:hover {
  border-width: 2px;
}

.testimonial-social + .testimonial-social {
  margin-left: 8px;
}

.testimonial-link-facebook::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial-link-twitter::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial-link-google::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial-link-linkedin::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contacts-link-address, .contacts-link-phone, .contacts-link-email {
  padding-left: 25px;
  position: relative;
}

.contacts-link-address::before, .contacts-link-phone::before, .contacts-link-email::before {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  top: 50%;
}

.contacts {
  margin-left: 20px;
  color: #f0d8d9;
}

.contacts-title {
  font-size: 1.8rem;
  font-weight: 900;
  font-style: normal;
}

.contacts-description {
  margin-top: 15px;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.contacts-list {
  margin-top: 25px;
}

.contacts-item + .contacts-item {
  margin-top: 10px;
}

.contacts-link-address::before {
  content: "";
  font-size: inherit;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #f0d8d9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contacts-link-phone::before {
  content: "";
  font-size: inherit;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #f0d8d9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contacts-link-email::before {
  content: "";
  font-size: inherit;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #f0d8d9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feedback {
  background: #eb5055;
  border-bottom: 6px solid #ea676b;
}

.feedback-inner {
  max-width: 940px;
  margin: 0 auto;
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  padding: 68px 0;
  /* TODO: clarify */
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .feedback-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feedback-title {
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
  color: #f0d8d9;
}

.feedback-description {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: normal;
  margin-top: 32px;
  color: #f0d8d9;
  line-height: 3rem;
}

.feedback-content {
  display: flex;
  margin-top: 45px;
}

.feedback-input {
  width: 620px;
  background-color: #ca4549;
}

.feedback-input:focus {
  border-color: #f0d8d9;
}

.feedback-input + .feedback-input {
  margin-top: 18px;
}

.feedback-textarea {
  height: 202px;
  color: #f48c8f;
  background-color: #ca4549;
  margin-top: 18px;
  -webkit-resize: none;
  -moz-resize: none;
  -ms-resize: none;
  -o-resize: none;
  resize: none;
}

.footer {
  background-color: #303441;
}

.footer-inner {
  max-width: 940px;
  margin: 0 auto;
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

@media only screen and (min-width: 320px) and (max-width: 939px) {
  .footer-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer-copyright {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  color: #666d89;
}

.footer-copyright-link:hover {
  color: #ffffff;
}

.footer-socials {
  display: flex;
  align-items: center;
  font-size: 0;
}

.footer-social {
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  overflow: hidden;
}

.footer-social:hover {
  border-width: 2px;
}

.footer-social + .footer-social {
  margin-left: 8px;
}

.footer-link-facebook::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-link-twitter::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-link-google::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-link-linkedin::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
