@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.svg#Lato-Black") format("svg"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.woff") format("woff"), url("../fsfdasdfonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.svg#Lato-Light") format("svg"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tmvnr9");
  src: url("../fonts/icomoon.eot?tmvnr9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tmvnr9") format("truetype"), url("../fonts/icomoon.woff?tmvnr9") format("woff"), url("../fonts/icomoon.svg?tmvnr9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

*, *::after, *::before {
  box-sizing: border-box;
  /* TODO: implement with prefixes */
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
}

ul {
  list-style: none;
}

ul, li {
  /* li - IE compatibility */
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
  content: "\e900";
}

.icon-bulb:before {
  content: "\e901";
}

.icon-heart:before {
  content: "\e905";
}

.icon-mail:before {
  content: "\e907";
}

.icon-marker:before {
  content: "\e908";
}

.icon-pen:before {
  content: "\e909";
}

.icon-phone:before {
  content: "\e90a";
}

.icon-star:before {
  content: "\e90b";
}

.icon-cellphone:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-google-plus:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e90c";
}

.icon-linkedin:before {
  content: "\e906";
}

.banner {
  height: calc(100vh - 9.5rem);
  width: 100%;
  background: url(../img/phones-min.png) center no-repeat #eb5055;
  position: relative;
}

.banner:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 0.5rem;
  width: 100%;
  background: #ea676b;
}
