@charset "UTF-8";
/* Globals */
/* Colors */
/* Media */
/* Vertically oriented phone */
/* Horizontally oriented phone */
/* Vertically oritented tablet */
/* Mixin library for general purposes */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.svg#Lato-Black") format("svg"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.woff") format("woff"), url("../fsfdasdfonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.svg#Lato-Light") format("svg"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tmvnr9");
  src: url("../fonts/icomoon.eot?tmvnr9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tmvnr9") format("truetype"), url("../fonts/icomoon.woff?tmvnr9") format("woff"), url("../fonts/icomoon.svg?tmvnr9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
*, *::after, *::before {
  box-sizing: border-box;
  /* TODO: implement with prefixes */
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
}

ul {
  list-style: none;
}

ul, li {
  /* li - IE compatibility */
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
}

/* General components */
.footer-link-linkedin, .footer-link-google, .footer-link-twitter, .footer-link-facebook, .testimonial-link-linkedin, .testimonial-link-google, .testimonial-link-twitter, .testimonial-link-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Layout components */
.header {
  background: #303441;
  color: #ffffff;
  border-bottom: 6px solid #373b4a;
}
.header-inner {
  max-width: 940px;
  margin: 0 auto;
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .header-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header-logo {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
}
.header-logo::after {
  content: "*";
  color: #ee5052;
}

.nav-list {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  display: flex;
}
.nav-item {
  display: inline-flex;
}
.nav-item + .nav-item::before {
  content: "·";
  /* &middot; = · */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.2;
}
.nav-link {
  text-transform: uppercase;
}
.nav-link:hover, .nav-link.active {
  color: #ee5052;
}

.banner {
  background: url(../img/phones-min.png) center no-repeat #eb5055;
  position: relative;
  border-bottom: 6px solid #ea676b;
  background-size: 80%;
}
.banner::before {
  content: "";
  display: block;
  padding-bottom: 58.3%;
  width: 100%;
}

.service {
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  color: #666d89;
  padding: 65px 0;
}
.service-inner {
  max-width: 940px;
  margin: 0 auto;
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .service-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.service-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 35px;
}
.service-description {
  font-size: 1.8rem;
  font-weight: 300;
}

.service {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .service {
    text-align: center;
  }
}
.service-title {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  .service-title {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .service-title {
    font-size: 3.5rem;
  }
}
.service-description {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  .service-description {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .service-description {
    font-size: 2.3rem;
  }
}

.services-list {
  display: flex;
  flex-flow: row wrap;
}
.services-item {
  width: 33.33333%;
  padding-left: 95px;
  margin-top: 40px;
  position: relative;
}
.services-item-bubble::before {
  content: "";
  font-size: 3.2rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.services-item-bubble::before {
  position: absolute;
  top: 0;
  left: 15px;
  border: 1px solid #666d89;
  border-radius: 50%;
  padding: 15px;
}
.services-item-bulb::before {
  content: "";
  font-size: 3.2rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.services-item-bulb::before {
  position: absolute;
  top: 0;
  left: 15px;
  border: 1px solid #666d89;
  border-radius: 50%;
  padding: 15px;
}
.services-item-heart::before {
  content: "";
  font-size: 3.2rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.services-item-heart::before {
  position: absolute;
  top: 0;
  left: 15px;
  border: 1px solid #666d89;
  border-radius: 50%;
  padding: 15px;
}
.services-item-pen::before {
  content: "";
  font-size: 3.2rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.services-item-pen::before {
  position: absolute;
  top: 0;
  left: 15px;
  border: 1px solid #666d89;
  border-radius: 50%;
  padding: 15px;
}
.services-item-phone::before {
  content: "";
  font-size: 3.2rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.services-item-phone::before {
  position: absolute;
  top: 0;
  left: 15px;
  border: 1px solid #666d89;
  border-radius: 50%;
  padding: 15px;
}
.services-item-star::before {
  content: "";
  font-size: 3.2rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.services-item-star::before {
  position: absolute;
  top: 0;
  left: 15px;
  border: 1px solid #666d89;
  border-radius: 50%;
  padding: 15px;
}
.services-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.services-descriptions {
  font-size: 1.2rem;
  line-height: 2rem;
  hyphens: auto;
}

.services-item {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  .services-item {
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .services-item {
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-left: 0;
  }
}
.services-item-bubble {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .services-item-bubble::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-bubble::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
.services-item-bulb {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .services-item-bulb::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-bulb::before {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.services-item-heart {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .services-item-heart::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-heart::before {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.services-item-pen {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .services-item-pen::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-pen::before {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.services-item-phone {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .services-item-phone::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-phone::before {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.services-item-star {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .services-item-star::before {
    content: "";
    font-size: 5rem;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666d89;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .services-item-star::before {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.services-title {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  .services-title {
    font-size: 2rem;
    /* 320px - 480px */
    /* 480px - 767 px */
    /* 320px - 767 px */
    /* 768px - 1019px */
    /* 320px - 1019px */
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) and (min-width: 320px) and (max-width: 479px) {
  .services-title {
    font-size: 2.5rem;
  }
}
.services-descriptions {
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  .services-descriptions {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .services-descriptions {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
}

.about {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  padding: 64px 0;
}
.about-inner {
  max-width: 940px;
  margin: 0 auto;
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .about-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.about-title {
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  color: #666d89;
}
.about-description {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  color: #767e9e;
  margin-top: 25px;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.testimonial {
  width: calc((100% - 40px) / 3);
}
.testimonial-image {
  width: 100%;
}
.testimonial-image:hover {
  -webkit-box-shadow: 0px 0px 8px 8px #c5c5c5;
  -moz-box-shadow: 0px 0px 8px 8px #c5c5c5;
  -ms-box-shadow: 0px 0px 8px 8px #c5c5c5;
  -o-box-shadow: 0px 0px 8px 8px #c5c5c5;
  box-shadow: 0px 0px 8px 8px #c5c5c5;
  -webkit-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
  -ms-transition: box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
}
.testimonial-name {
  font-size: 1.8rem;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  color: #666d89;
  padding: 20px 0;
}
.testimonial-info {
  font-size: 1.2rem;
  color: #767e9e;
}
.testimonial-socials {
  display: flex;
  align-items: center;
  font-size: 0;
  margin-top: 30px;
}
.testimonial-social {
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-social:hover {
  border-width: 2px;
}
.testimonial-social + .testimonial-social {
  margin-left: 8px;
}
.testimonial-link-facebook::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.testimonial-link-twitter::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.testimonial-link-google::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.testimonial-link-linkedin::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  background-color: #303441;
}
.footer-inner {
  max-width: 940px;
  margin: 0 auto;
  /* 320px - 480px */
  /* 480px - 767 px */
  /* 320px - 767 px */
  /* 768px - 1019px */
  /* 320px - 1019px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
@media only screen and (min-width: 320px) and (max-width: 939px) {
  .footer-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer-copyright {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  color: #666d89;
}
.footer-copyright-link:hover {
  color: #ffffff;
}
.footer-socials {
  display: flex;
  align-items: center;
  font-size: 0;
}
.footer-social {
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  overflow: hidden;
}
.footer-social:hover {
  border-width: 2px;
}
.footer-social + .footer-social {
  margin-left: 8px;
}
.footer-link-facebook::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer-link-twitter::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer-link-google::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer-link-linkedin::before {
  content: "";
  font-size: 1.4rem;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666d89;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=styles.css.map */
