@mixin portfolio-control() {
    @include font(1.2rem);
    line-height: 1.4rem;
    margin-right: 10px;
    color: $blue-color-1;
    letter-spacing: -0.001rem;
    padding: 3px 6px;
    border: 0.063rem solid $blue-color-4;
    border-radius: 0.25rem;

	#web-design:checked ~ &.web-design,
	#graphic-design:checked ~ &.graphic-design,
	#artwork:checked ~ &.artwork,
    &:hover {
        cursor: pointer;
        color: $white-color-1;
        border: 0.063rem solid $white-color-1;
    }

    &.all {		
		position: absolute;
		top: 0;
		left: 20px;
	}

	&.web-design {
		position: absolute;
		top: 0;
		left: 60px;
	}

	&.graphic-design {
		position: absolute;
		top: 0;
		left: 147px;
	}

	&.artwork {
		position: absolute;
		top: 0;
		left: 250px;
	}
}
