input,
textarea {
    font-family: inherit;
}

.contacts-container {
    background: $red-color-3;
}

.contacts-inner {
    width: 940px;
    margin: 0 auto;
    padding: 68px 0; /* TODO: clarify */
}

.description {
    margin-top: 68px;
}

.description-title {
    @include font(3rem, 900);
    color: $white-color-3;
}

.page-description {
    margin: 32px 0 49px; /* TODO: clarify */
    font-size: 1.8rem;
    color: $white-color-3;
}

.form-container {
    display: flex;
}

.form {
    width: 620px;
}

.name {
    
}

.mail {
    
}

.subject {
    
}

.describe {
    height: 202px;
    color: $red-color-4;
}
.form {
  
}
.inp {
    width: 620px;
    border-radius: 5px;
    background-color: $red-color-2;
    font-size: 1.2rem;
    outline: none;
    border: 2px solid transparent;
    
    & + & {
        margin-top:  18px;
    }
}

.inp:focus {
    border-color: $white-color-3;
}

.contacts-title {
    @include font(1.8rem, 900);
    color: $white-color-3;
}

.contacts-description {
    color: $white-color-3;
    margin-top: 18px;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.contacts {
    margin-left: 20px;
}

.contact {
    margin-top: 30px;
    font-size: 1.2rem;
    color: $white-color-3;
}

input {
    height: 38px;
}

input,
textarea {
    padding: 15px;
    color: $red-color-4;
}

input,
input::placeholder,
textarea,
textarea::placeholder {
    font-size: 1.2rem;
    width: 100%;
}

input::placeholder,
textarea::placeholder {
    color: $white-color-3;
}

