.portfolio {
	&-list {
		position: relative;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-left: -20px;
		align-items: flex-start;
		padding-top: 40px;
	}

	&-item {
		width: calc(100% / 4 - 20px);
		height: auto;
		overflow: hidden;
		margin: 0 0 20px 20px;

		.portfolio-img {
			width: 100%;
			height: 100%;
			@include prefix(transition, all 1s ease-out);
		}

		.portfolio-img:hover {
		    transform: scale(1.3);
		    transform-origin: center;
		}
	}

	&-input {
		display: none;
	}

	&-control {
		@include font(1.2rem, normal, normal, 1.4rem);
		margin-right: 10px;
		color: #666d89;
		letter-spacing: -0.001rem;
		padding: 3px 6px;
		border: 0.063rem solid $blue-color-4;
		border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;

		&:hover {
			color: $white-color-1;
			border: 0.063rem solid $white-color-1;
		}

		&::after {
			color: $blue-color-1;
			border: 0.063rem solid $blue-color-1;
		}
	}

	&-image {
		width: 100%;
		height: 100%;
		@include prefix(transition, all 1s ease-out);

		&:hover {
			transform: scale(1.3);
		    transform-origin: center;
		}
	}
}

.label {
	&-all {		
		position: absolute;
		top: 0;
		left: 20px;
	}

	&-web-design {
		position: absolute;
		top: 0;
		left: 60px;
	}

	&-graphic-design {
		position: absolute;
		top: 0;
		left: 147px;
	}

	&-atrwork {
		position: absolute;
		top: 0;
		left: 250px;
	}
}

#all:checked ~ .portfolio-item {
	display: block;
}

#all:checked ~ .label-all {
	color: $white-color-1;
	border: 0.063rem solid $white-color-1;
}

#web-design:checked ~ .graphic-design, .atrwork{
	display: none;
}

#web-design:checked ~ .web-design{
	display: block;
}

#graphic-design:checked ~ .web-design, .atrwork {
	display: none;
}

#graphic-design:checked ~ .graphic-design {
	display: block;
}

#atrwork:checked ~ .web-design, .graphic-design {
	display: none;
}

#atrwork:checked ~ .atrwork {
	display: block;
}

// .portfolio-list {

// 	@media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
		
// 		.portfolio_item {
// 			width: calc(100%/2 - 20px);
// 			height: auto;
// 		}
// 	}

// 	@media only screen and (min-width: $mobile-portrait) and (max-width: $tablet - 1) {
//         .portfolio_item {
// 			width: 100%;
// 			height: auto;
// 		}
//     }
// }

// @media only screen and (min-width: $mobile-portrait) and (max-width: $tablet - 1) {
// 		.label_all {		
// 			left: 21px;
// 		}

// 		.label_web_design {
// 			left: 55px;
// 		}

// 		.label_graphic_design {
// 			left: 139px;
// 		}

// 		.label_atrwork {
// 			left: 241px;
// 		}
// 	}

