.portfolio {
	&-title {
		@include font(3rem, bold, normal);
		font-family: Lato-black, sans-serif;  
		font-size: 3rem;
		color: $blue-color-1;
		margin-bottom: 24px;
	}

	&-description {
		@include font(1.8rem, 300, normal, 1.875rem);
		letter-spacing: -0.02rem;
		color: $blue-color-4;
		margin-bottom: 18px;
		line-height: 1.875rem;

		@media only screen and (min-width: $mobile-portrait) and (max-width: $tablet - 1) {
	        line-height: 2.2rem;
	    }

	    @media only screen and (min-width: $mobile-landscape) and (max-width: $tablet - 1) {
	        line-height: 2.2rem;
	    }
	}
}
