@import "logo/main";

.header {
    border-bottom: 6px solid $blue-3;
    color: $white-1;
    background: $blue-2;

    &-inner {
        @include site-width;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }

    &-logo {
        @include header-logo;
    }
}

@import "nav/main";
