@mixin services-item() {
    width: calc((100% - 20px) / 3);
    padding-left: 95px;
    margin-top: 40px;
    margin-left: 10px;
    position: relative;

    &:nth-child(3n - 2) {
        margin-left: 0;
    }

    &::before {
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid $blue-color-1;
        border-radius: 50%;
    }

    &-bubble {
        @include icon-bubble($blue-color-1, 3.2rem);
    }

    &-bulb {
        @include icon-bulb($blue-color-1, 3.2rem);
    }

    &-heart {
        @include icon-heart($blue-color-1, 3.2rem);
    }

    &-pen {
        @include icon-pen($blue-color-1, 3.2rem);
    }

    &-phone {
        @include icon-phone($blue-color-1, 3.2rem);
    }

    &-star {
        @include icon-star($blue-color-1, 3.2rem);
    }
}
