@import "item/responsive";
@import "control/responsive";
@import "description/responsive";

.portfolio {
    @include respond-to(devices) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &-inner {
        @include respond-to(mobiles) {
            text-align: center;
        }
    }

    &-description {
        @include portfolio-description-responsive;
    }

    &-item {
        @include portfolio-item-responsive;
    }

    &-control {
        @include portfolio-control-responsive;
    }
}
