@import "title/main";
@import "description/main";
@import "list/main";
@import "service/main";
@import "service-title/main";
@import "service-description/main";

// .service {
//     padding: 65px 0;
//     background: $white-color-2;
//     border-bottom: 6px solid $white-color-1;
//     color: $blue-color-1;

//     &-inner {
//         @include site-width;
//     }

//     &-title {
//         @include services-title;
//     }

//     &-description {
//         @include services-description;
//     }
// }

// .services {
//     &-list {
//         @include services-list;
//     }

//     &-item {
//         @include services-item;

//         &-title {
//             @include services-item-title;
//         }
    
//         &-description {
//             @include services-item-description;
//         }
//     }
// }

.services {
    padding: 65px 0;
    background: $white-color-2;
    border-bottom: 6px solid $white-color-1;
    color: $blue-color-1;

    &-inner {
        @include site-width;
    }

    &-title {
        @include services-title;
    }

    &-description {
        @include services-description;
    }

    &-list {
        @include services-list;
    }
}

.service {
    @include service;

    &-title {
        @include service-title;
    }

    &-description {
        @include service-description;
    }
}

