@mixin services-responsive() {
    @include respond-to(devices) {
        width: calc(50% - 20px);

        /* Reseting desktop nth rule margins */
        &:nth-child(3n - 2) {
            margin-left: 10px;
        }

        &:nth-child(2n - 1) {
            margin-left: 0;
        }
    }

    @include respond-to(mobiles) {
        width: 100%;
        padding-top: 100px;
        padding-left: 0;

        /* Reseting tablets and desktop nth rule margins */
        &:nth-child(3n - 2),
        &:nth-child(2n - 1) {
            margin-left: 0;
        }

        &::before {
            @include prefix(transform, translateX(-50%));
            left: 50%;
        }

        &-bubble {
            @include icon-bubble($blue-1, 5rem);
        }
    
        &-bulb {
            @include icon-bulb($blue-1, 5rem);
        }
    
        &-heart {
            @include icon-heart($blue-1, 5rem);
        }
    
        &-pen {
            @include icon-pen($blue-1, 5rem);
        }
    
        &-phone {
            @include icon-phone($blue-1, 5rem);
        }
    
        &-star {
            @include icon-star($blue-1, 5rem);
        }
    }
}
