@import "title/main";
@import "description/main";

.about {
	background-color: $white-color-2;
	border-bottom: 6px solid $white-color-1;

	&-inner {
		@include site-width;
		padding-top: 64px;
		padding-bottom: 64px;
		text-align: center;  
	}

	&-title {
		@include about-title;	
	}

	&-description {
		@include about-description;
	}
}

@import "testimonials/main";
