@import "title";
@import "description";

.about {
	background-color: $white-color-2;
	border-bottom: 6px solid $white-color-1;
	padding: 64px 0;

	&-inner {
		@include site-width;  
	}

	&-title {
		@include about-title;	
	}

	&-description {
		@include about-description;
	}
}

@import "testimonials/main";
