@mixin portfolio-list() {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 18px;
    margin-left: -20px;
    padding-top: 40px;
}
