@mixin nav-item() {
    &:hover,
    &.active {
        color: $red-color-1;
    }

    &:not(:last-child)::after {
        content: "*";
        display: inline-block;
        width: 32px;
        font-size: .5rem;
        vertical-align: middle;
        text-align: center;
        color: $white-color-1;
        opacity: 0.2;
    }
}
