@mixin social-link($color, $font-size) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &.facebook {
        @include icon-facebook($color, $font-size);
    }

    &.twitter {
        @include icon-twitter($color, $font-size);
    }

    &.google {
        @include icon-google($color, $font-size);
    }

    &.linkedin {
        @include icon-linkedin($color, $font-size);
    }
}
