@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Black.eot");
    src: url("../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato/Lato-Black.svg#Lato-Black") format("svg"),
        url("../fonts/Lato/Lato-Black.ttf") format("truetype"),
        url("../fonts/Lato/Lato-Black.woff") format("woff"),
        url("../fonts/Lato/Lato-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Regular.eot");
    src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato/Lato-Regular.svg#Lato-Regular") format("svg"),
        url("../fonts/Lato/Lato-Regular.ttf") format("truetype"),
        url("../fonts/Lato/Lato-Regular.woff") format("woff"),
        url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Bold.eot");
    src: url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato/Lato-Bold.svg#Lato-Bold") format("svg"),
        url("../fonts/Lato/Lato-Bold.ttf") format("truetype"),
        url("../fonts/Lato/Lato-Bold.woff") format("woff"),
        url("../fonts/Lato/Lato-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Light.eot");
    src: url("../fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato/Lato-Light.svg#Lato-Light") format("svg"),
        url("../fonts/Lato/Lato-Light.ttf") format("truetype"),
        url("../fonts/Lato/Lato-Light.woff") format("woff"),
        url("../fonts/Lato/Lato-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "icomoon";
    src: url("../fonts/Icomoon/icomoon.eot?tmvnr9");
    src: url("../fonts/Icomoon/icomoon.eot?tmvnr9#iefix") format("embedded-opentype"),
        url("../fonts/Icomoon/icomoon.ttf?tmvnr9") format("truetype"),
        url("../fonts/Icomoon/icomoon.woff?tmvnr9") format("woff"),
        url("../fonts/Icomoon/icomoon.svg?tmvnr9#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
