html {
    font-size: $global-font-size;
    font-family: $global-font-family;
    scroll-behavior: smooth;
}

input {
    min-width: 200px;
    font-size: 1.2rem;
}

textarea {
    height: 202px;
}

input,
textarea {
    padding: 15px;
    color: $red-4;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
}

input,
input::placeholder,
textarea,
textarea::placeholder {
    font-size: 1.2rem;
    width: 100%;
}

input::placeholder,
textarea::placeholder {
    color: $white-3;
}

input:focus,
textarea:focus {
    border-color: $white-3;
}
