@import "title/main";
@import "description/main";
@import "filter/main";
@import "control/main";
@import "list/main";

.portfolio {
    border-bottom: 6px solid $blue-3;
    background: $blue-2;

    &-inner {
        @include site-width;

        padding: 60px 0 53px;
    }

    &-title {
        @include portfolio-title;
    }

    &-description {
        @include portfolio-description;
    }

    &-filter {
        @include portfolio-filter;
    }

    &-control {
        @include portfolio-control;
    }

    &-list {
        @include portfolio-list;
    }

    &-item {
        @include portfolio-item;
    }

    &-link {
        @include portfolio-link;
    }

    &-image {
        @include portfolio-image;
    }
}
