.service{

    &-title {   
        font-size: 3rem;
        font-weight: 800;  
        padding-bottom: 35px;

    } 

    &-description {
    	font-size: 1.8rem;
    	font-weight: 300;
    	
    }
}

@import "responsive";