.services {

	&-list {

	}

	&-item { 
		@include respond-to(tablet) {
			width: 50%;
		}
		@include respond-to(mobile-portrait) {
			width: 100%;
			padding-left: 100px;
		}
		&-bubble {
			@include respond-to(mobile-portrait) {
			@include icon-bubble($blue-color-1, 3.9rem);
		}
		}&-bulb {
			@include respond-to(mobile-portrait) {
			@include icon-bulb($blue-color-1, 3.9rem);
		}
		}
		&-heart {
			@include respond-to(mobile-portrait) {
			@include icon-heart($blue-color-1, 3.9rem);
		}
		}
		&-pen {
			@include respond-to(mobile-portrait) {
			@include icon-pen($blue-color-1, 3.9rem);
		}
		}
		&-phone {
			@include respond-to(mobile-portrait) {
			@include icon-phone($blue-color-1, 3.9rem);
		}
		}
		&-star {
			@include respond-to(mobile-portrait) {
			@include icon-star($blue-color-1, 3.9rem);
		}
		}
	}

	&-title {
		@include respond-to(tablet) {
			font-size: 2rem;
			@include respond-to(mobile-portrait) {
			font-size: 2.3rem;
		}
		}
	}

	&-descriptions{
		@include respond-to(tablet) {
			font-size: 1.5rem;
			line-height: 2.5rem;
		}
		@include respond-to(mobile-portrait) {
			font-size: 1.8rem;
			line-height: 2.8rem;
		}
	}

}