/* Globals */
$global-font-size: 10px;
$global-font-family: 'Lato', sans-serif;
$global-site-width: 940px;
$global-mobile-padding: 20px;

/* Colors */
$blue-1: #666d89;
$blue-2: #303441;
$blue-3: #373b4a;
$blue-4: #767e9e;

$white-1: #ffffff;
$white-2: #f2f2f2;
$white-3: #f0d8d9;

$grey-1: #c5c5c5;
$grey-2: #a09a9a;

$red-1: #ee5052;
$red-2: #ca4549;
$red-3: #ea676b;
$red-4: #f48c8f;
$red-5: #eb5055;

/* Media */
$mobile-portrait: 320px; /* Vertically oriented phone */
$mobile-landscape: 480px; /* Horizontally oriented phone */
$tablet: 768px; /* Vertically oritented tablet */
$desktop: $global-site-width;
