/* Globals */
$global-font-size: 10px;
$global-font-family: 'Lato', sans-serif;
$global-site-width: 940px;
$global-mobile-padding: 20px;

/* Colors */
$blue-color-1: #666d89;
$blue-color-2: #303441;
$blue-color-3: #373b4a;
$blue-color-4: #767e9e;

$white-color-1: #ffffff;
$white-color-2: #f2f2f2;
$white-color-3: #f0d8d9;

$grey-color-1: #c5c5c5;
$grey-color-2: #a09a9a;


$red-color-1: #ee5052;
$red-color-2: #ca4549;
$red-color-3: #ea676b;
$red-color-4: #f48c8f;

/* Media */
$mobile-portrait: 320px; /* Vertically oriented phone */
$mobile-landscape: 480px; /* Horizontally oriented phone */
$tablet-portrait: 768px; /* Vertically oritented tablet */
$tablet-landscape: 1280px; /* Horizontally oriented tablet */
